* {
    box-sizing: border-box;
    margin: 0;

    font-family: 'inter', sans-serif;
    list-style: none;
}

/* Custom properties */
:root {
    /* Kleuren */
    --brand-color: hsl(234, 55%, 47%);
    --content-light: hsl(0, 0%, 100%);
    --content-dark: hsl(0, 0%, 0%);
    --content-light-dark: hsl(0, 0%, 38%);

    --container-quiet-light: hsl(300, 5%, 96%);
    --container-quiet-dark: hsla(0, 0%, 6%, 0.600);

    --background-main: hsl(0, 0%, 100%);
    --background-alternative: hsl(354, 83%, 98%);

    /* Typografie */
    --heading-size-l: 2rem;
    --heading-size-m: 1.6rem;
    --heading-size-s: 1.4rem;
    --heading-size-xs: 1rem;
    
    --font-size-l: 1.4rem;
    --font-size-m: 1.1rem;
    --font-size-s: 1rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;    
}

@font-face {
    font-family: 'inter';
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    color: var(--content-light);
    height: 45px;
    
    .more-info {
        color: var(--content-light);
        margin-left: 0.3rem;
    }
}

.first-nav {

    .search-locations-button, .help-button {
        display: none;
    }

    .close-menu {
    display: none;
}

}

.hamburger-icon {
    position: relative;
    border-style: none;
    cursor: pointer;
    padding: 1em;
    background-color: transparent;
}

.hamburger-list {
    display: none;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button, .cart-button {
    background-color: transparent;
    color: var(--content-dark);
}